{
    "web": {
        "client_id": "client_id here",
        "project_id": "project_id here",
        "auth_uri": "auth_uri here",
        "token_uri": "token_uri here",
        "auth_provider_x509_cert_url": "auth_provider_x509_cert_url here",
        "client_secret": "client_secret here"
        ,"javascript_origins": [javascript_origins here]
    }
}